apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  labels:
    app: payment-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.containerPort }}
          env:
            - name: NODE_ENV
              value: {{ .Values.env.NODE_ENV }}
            - name: USER_SERVICE_URL
              value: {{ .Values.userServiceUrl }}
            - name: ORDER_SERVICE_URL
              value: {{ .Values.orderServiceUrl }}
          envFrom:
            - secretRef:
                name: payment-service-secret
          readinessProbe:
            httpGet:
              path: /health
              port: {{ .Values.containerPort }}
            initialDelaySeconds: 10
            periodSeconds: 10