apiVersion: batch/v1
kind: Job
metadata:
  name: payment-service-seed
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: seed
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - node
            - prisma/seed.js
          envFrom:
            - secretRef:
                name: payment-service-secret
      backoffLimit: 4