apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3001
  type: {{ .Values.service.type }}
