apiVersion: batch/v1
kind: Job
metadata:
  name: order-service-migration
  labels:
    app: order-service
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded,hook-failed
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: migration
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - npx
            - prisma
            - migrate
            - deploy
          envFrom:
            - secretRef:
                name: order-service-secret
      backoffLimit: 4
